<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="org.apache.jena" level="warn" additivity="false" />
    <logger name="org.apache.http" level="warn" additivity="false" />
    <logger name="openllet.jena.graph" level="error" additivity="false" />

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>